/* Style the footer */
footer {
    text-align: center; /* Center-align the text within the footer */
    background-color: var(--tertiary-color);
    padding: 10px 0;
    margin-top: -20px; /* Adjust the negative margin to eliminate the gap */
}

footer::before {
    content: '\00a9 2024 Tahad Production (JM1000247-W). All rights reserved.';
    margin: 0;
    text-align: center; /* Center-align the text within the footer */
    color: var(--secondary-color);
    font-size: 12px;
}

.section-content-infos {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--essence-color); /* bgcolor */
    color: var(--secondary-color); /* text color */
}

.section-content-infos h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section-content-infos p {
    font-size: 18px;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust this property as needed */
}

.info {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed (33.33% for 3 side by side) */
    margin-bottom: 20px; /* Add margin to create space between items */
    padding: 20px; /* Add padding for spacing within each "info" block */
    text-align: center; /* Center-align content within each "info" block */
    background-color: var(--essence-color); /* Add background color */
    border-radius: 10px; /* Add border radius for rounded corners */
}

.info li {
    list-style: none;
    margin-left: -40px;
    text-align: left;
}

.info a {
    text-decoration: none;
    font-size: 14px;
    color: var(--secondary-color); /* font color */
    transition: 0.3s;
}

.info a:hover {
    color: var(--tertiary-color); /* hover font color */
}

.info a i {
    font-size: 25px;
    padding: 15px 5px;
}

.info p {
    text-decoration: none;
    font-size: 14px;
    color: var(--secondary-color);
    text-align: left;
    margin-bottom: 0px;
}

.info h3 {
    font-size: 16px; /* Increase font size for better readability */
    margin-bottom: 5px;
    text-align: left;
}

.small {
    font-size: 15px !important;
    padding: 5px !important;
}


#email {
    width: 180px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Add some space between input and button */
}

#subscribe-btn {
    padding: 10px 10px;
    width: 100px; /* Adjust width as needed */
    background-color: var(--tertiary-color); /* Button background color */
    color: var(--secondary-color); /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#subscribe-btn:hover {
    background-color: var(--secondary-color); /* Hover background color */
    color: var(--tertiary-color); /* Hover text color */
}